    body {
        background-color: rgba(174, 177, 179, 0.8);
    }
    
    #main {
        font-family: sans-serif;
        font-size: medium;
        display: grid;
        grid-template-columns: 70% 29%;
        grid-gap: 25px;
        width: 100%;
    }
    
    .image-grid {
        align-items: center;
    }
    
    img {
        margin: 20px;
        width: 50%;
        height: 300px;
        transition: 0.5s all;
    }
    
    img:hover {
        width: 80%;
        height: 350px;
    }
    
    #image-1 {
        float: right;
    }
    
    #image-1:hover {
        width: 60%;
        height: 320px;
    }
    
    .sidebar {
        background-color: rgba(102, 104, 104, 0.5);
        padding: 15px;
    }
    
    .post {
        border: 3px solid blueviolet;
        padding: 10px;
        margin: 5px;
    }
    
    a:hover {
        color: whitesmoke;
    }